{#
/**
 * @file
 * Default theme implementation to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('premium/burger-menu') }}

<nav class="burger-menu js-burger-menu" id="js-burger-menu">
  <div class="burger-menu__inner">
    <div class="burger-menu__header">
      <div class="burger-menu__logo">
        <svg{{ (not attributes ? create_attribute() : attributes).addClass('logo__image') }}>
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/{{ directory }}/logo.svg"></use>
        </svg>
      </div>
      <button id="js-burger-menu__close" class="burger-menu__close"  aria-label="Close navigation menu">
        <div class="burger-menu__close-label">{{ 'Close'|t }}</div>
        <div class="burger-menu__close-icon"></div>
      </button>
    </div>
    <div class="container">
      {{ elements.mainnavigation_bm }}
      {{ elements.metamenu_bm }}
    </div>
  </div>
</nav>
