{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{{ attach_library('premium/navigation') }}
{{ attach_library('premium/sub-navigation') }}

<nav class="navigation js-navigation">
  <ul class="navigation-list">
    {%- for item in items -%}
      <li class="navigation-item js-navigation-item{{ item.in_active_trail ? ' active' : '' }}{{ item.below is not empty ? ' navigation-item--has-children': '' }}"{{ item.below is not empty ? ' aria-haspopup="true" aria-expanded="false"' : '' }}>
        {% if item.url.routeName == '<nolink>' %}
          <span class="navigation-item__link" tabindex="0" role="menuitem">{{ item.title }}</span>
        {% else %}
          {{ link(item.title, item.url, {'class': 'navigation-item__link'}) }}
        {% endif %}
        {% if item.below %}
          <div class="sub-navigation js-sub-navigation">
            <ul class="sub-navigation__list">
              {%- for item_below in item.below -%}
                <li class="sub-navigation-item js-sub-navigation-item">
                  {{ link(item_below.title, item_below.url, {'class': 'sub-navigation__link'}) }}
                  {% if item_below.below %}
                    {% include '@reusable-component/svg-icon.twig' with {
                      'attributes': '',
                      'svgIconName': 'chevron-down'
                    } %}
                    <div class="sub-navigation js-sub-navigation">
                      <ul class="sub-navigation__list">
                        {%- for item_below_below in item_below.below -%}
                          <li class="sub-navigation-item js-sub-navigation-item">
                            {{ link(item_below_below.title, item_below_below.url, {'class': 'sub-navigation__link'}) }}
                          </li>
                        {%- endfor -%}
                      </ul>
                    </div>
                  {% endif %}
                </li>
              {%- endfor -%}
            </ul>
          </div>
        {% endif %}
      </li>
    {%- endfor -%}
  </ul>
</nav>
